//varibales
$topicFont: 'Nerko One', cursive;
$introFont: 'Noto Serif Khojki', serif;
$rulesFont: 'Patrick Hand', cursive;
$barColour : rgb(2, 48, 71);
$backgroundColour: #11D8EE;
$buttonColour:#FF6464;